.darkBlue {
  // Reusable Colors
  --color-primary: #030b17;
  --color-secondary: #071426;
  --color-ternary: #d4d4ff;
  --color-primary-alpha: #1d2f4a84;
  --color-contrast: #00caef;
  --color-text-primary: #fcfcfc;

  // Specific Colors
  --bg-body: var(--color-primary);
  --bg-sidebar: var(--color-secondary);
  --bg-contrast: var(--color-contrast);
  --bg-card-primary: var(--color-secondary);
  // Borders
  --border-primary-thin: 1px solid var(--color-primary-alpha);
  // Texts
  --text-primary: var(--color-text-primary);
  --text-label:var(--color-ternary)
  // Hovers
  --hover-sidebar-btn: var(--color-primary-alpha);
}
