.desktopLayout {
  // Heights
  --height-header: 3rem;

  // Sizess
  --size-input-xs: 10rem;
  --size-input-sm: 15rem;
  --size-input-md: 25rem;
  --size-input-lg: 30rem;
  --size-input-xl: 40rem;
}
